footer {
    background-color: white;
<<<<<<< HEAD
    height:60px;
    width:100%;
    border-top: 1px solid #CCCCCC;

    bottom: 0;
}
p {
    text-align:center;
    line-height:30px;
=======
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
>>>>>>> f532a22a4f8be652b62abde014484cf64cb92898
}
