<<<<<<< HEAD
.places h1{
    text-align: left:
    font-size: 30px;
    width: 100%;
}

.places article{
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
=======
.places {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-left: 20px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places article h2 {
    font-size: 30px;
}
>>>>>>> f532a22a4f8be652b62abde014484cf64cb92898
